{% extends '::base.html.twig' %}

{% block stylesheets %}
    <link href="{{ asset('/bundles/ProjectPunchclockcore/css/index.css') }}" rel="stylesheet" />
    <link href="{{ asset('/bundles/ProjectPunchclockcore/css/carousel.css') }}" rel="stylesheet" />
    <link href="{{ asset('/bundles/ProjectPunchclockcore/css/homepage.css') }}" rel="stylesheet" />
    {{ parent() }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
{% endblock %}

{% block content %}
<div class="fluid-container">
    <div class="row">
        {% block signin %}
        <div class="span4">
            <br />
            <br />
            <br />
            <h1>{{ 'sign in' | title }}</h1>
            <div class="center-block">
                <form action="{{ path("fos_user_security_check") }}" method="post">
                    <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />
                    <p>
                        <label for="username">{{ 'email address' | title }}</label>
                        <input type="text" id="username" name="_username" value="{{ last_username }}" class="text-input" />
                    </p>
                    <p>
                        <label for="password">{{ 'password' | title }}</label>
                        <input type="password" id="password" name="_password" class="text-input" />
                    </p>
                    <p>
                        <input type="checkbox" id="remember_me" name="_remember_me" value="on" class="pull-left"/>
                        <label for="remember_me"> {{ 'remember me' | title }}</label>
                        <input type="submit" id="_submit" name="_submit" value="sign in &raquo;" class="greenButton pull-right"/>
                    </p>
                </form>
            </div>
        </div>
        {% endblock %}
        {% block carousel %}
        <div class="span8">
            <div class="carousel slide" id="mainCarousel">
                <div class="carousel-inner">
                {% for key, item in carousel.items %}
                    {% set active = (0 == key ? 'active' : '') %}
                    <div class="item {{ active~' item'~(1+key) }}" style="background: transparent url('{{ item.image }}');">
                        <p class="caption">{{ item.caption }}</p>
                    </div>
                {% else %}
                    <div class="item active">
                        <p class="caption"></p>
                    </div>
                {% endfor %}
                </div>
                {% if 1 < carousel.items|length %}
                <a class="carousel-control left" href="#mainCarousel" data-slide="prev">&lsaquo;</a>
                <a class="carousel-control right" href="#mainCarousel" data-slide="next">&rsaquo;</a>
                {% endif %}
            </div>
        </div>
        {% endblock %}
    </div>
    <div class="row feature-row">
        {% block home_cols %}
        <!-- Multi-FacilityInterface //-->
        <div class="col-12 col-lg-3 col-sm-6">
            <p>
                <i class="fa fa-th"></i>
            </p>
            <h2 class="font-thin">
                Multi-Facility
                <span class="font-semibold">Interface</span>
            </h2>
            <h4 class="font-thin">
                Lorem Ipsum is simply dummy text of the printing and typesetting industry.
            </h4>
        </div>
        
        <!-- Print Reports //-->
        <div class="col-12 col-lg-3 col-sm-6">
            <p>
                <i class="fa fa-print fa-5x"></i>
            </p>
            <h2 class="font-thin">
                Print
                <span class="font-semibold">Reports</span>
            </h2>
            <h4 class="font-thin">
                Lorem Ipsum is simply dummy text of the printing and typesetting industry.
            </h4>
        </div>
        
        <!-- User Portals //-->
        <div class="col-12 col-lg-3 col-sm-6">
            <p>
                <i class="fa fa-desktop"></i>
            </p>
            <h2 class="font-thin">
                User
                <span class="font-semibold">Portals</span>
            </h2>
            <h4 class="font-thin">
                Lorem Ipsum is simply dummy text of the printing and typesetting industry.
            </h4>
        </div>
        {% endblock %}
    </div>
</div>
{% endblock %}

{% block breadcrumbs %} {% endblock %}